body, html {
    background-color: hsl(233, 47%, 7%);

}

body {
    background-color: hsl(244, 38%, 16%);
    color: white;
    font-family: 'Inter', sans-serif;
    border-radius: 5px;
    max-width: 1180px;
    min-width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1280px;
    min-width: 900px;
}

span {
    color: purple;
}

.words {
    margin-left: 100px;
    margin-right: auto;
}

main {
    display: flex;
    justify-content: space-between;
}

p {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    color: grey;
    font-size: 15px;
}

img {
    object-fit: cover;
    opacity: 0.4;
}




